.logo {
  margin: 0;
  padding: 0;

  border: 0;
  background: none;
}

.logoButton {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
}

.logoSvg {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  color: white;
}

.logoTytle {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: white;
}
