.MainClose {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 5px;

  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: #2196f3;
  opacity: 0.6;
  color: white;
}

.CastRevContainer {
  padding-top: 20px;
}

.CastRevContainer ul {
  padding: 0;
}

.LinkContainer {
  text-align: start;
  border-bottom: 1px solid black;
}

.Link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.ActiveLink {
  composes: Link;
  color: #2196f3;
}

.Close {
  position: fixed;
  bottom: 10px;
  right: 5%;
  padding: 5px;

  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: #2196f3;
  opacity: 0.6;
  color: white;
  z-index: 999;
}

.DetailsContainer {
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid black;
  margin-top: 2px;
}

.DetailsItems {
  text-align: start;
}

.Items {
  margin-bottom: 20px;
}

.GenresContainer {
  display: flex;
  padding: 0;
}

.GenresItems:not(:last-child) {
  margin-right: 15px;
}

.Image {
  width: 270px;
  min-height: 410px;
}

.DefaultImg {
  width: 270px;
  height: 410px;
}
