/*=========== MovieDetailsPage ============*/

.main {
  position: relative;
  margin-top: 78px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mainClose {
  position: absolute;
  top: 10px;
  left: -60px;

  width: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ff6b08;
  opacity: 0.6;
  color: white;
}

.mainClose:hover {
  opacity: 1;
  color: white;
}

.iconBackClose {
  height: 30px;
  width: 30px;
}

.castRevContainer {
  margin-top: 20px;
}

.castRevContainer ul {
  padding: 0;
}

.linkContainer {
  margin-top: 10px;
  text-align: start;

  border-bottom: 1px solid #ff6b08;
}

.linkContainer li:last-child {
  margin-bottom: 20px;
}

.linkContainer li:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: var(--bs-body-color);
}

.link:hover {
  color: #ff6b08;
}

.activeLink {
  composes: link;
  color: #ff6b08;
}

.castRevIcon {
  margin-right: 5px;
}

.close {
  position: fixed;
  bottom: 20px;
  right: 5%;

  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ff6b08;
  opacity: 0.6;
  color: white;
  z-index: 1;
}

.close:hover {
  opacity: 1;
  color: white;
}

.iconClose {
  height: 30px;
  width: 30px;
}

/*=========================================*/
/*========= MovieDetailsPageList ==========*/

.detailsContainer {
  padding-bottom: 60px;
  display: flex;
  border-bottom: 1px solid #ff6b08;
  margin-top: 2px;
}

.image {
  width: 270px;
  height: 410px;
}

.defaultImg {
  width: 270px;
  height: 410px;
}

.detailsItems {
  margin-left: 30px;
  text-align: start;
}

.items {
  margin-bottom: 20px;
}

.itemsTitle {
  margin-bottom: 10px;
}

.genresContainer {
  display: flex;
  padding: 0;
}

.genresItems:not(:last-child) {
  margin-right: 15px;
}

.buttonItems {
  display: inline-block;
  width: 70px;
}

.buttonItems:not(:last-child) {
  margin-right: 20px;
}

.button {
  padding: 5px;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;

  border: none;
  border-radius: 5px;
  opacity: 0.6;
  color: white;
  background-color: #ff6b08;
}

.button:hover {
  opacity: 1;
}

/*=========================================*/

@media screen and (min-width: 280px) and (max-width: 768px) {
  .mainClose {
    top: 15px;
    left: 0;
  }

  .detailsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image {
    margin-bottom: 20px;
    max-width: calc(100vw - 48px);
  }

  .detailsItems {
    margin-left: 0;
  }
}
