.main {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.MainClose {
  position: absolute;
  top: 10px;
  left: -60px;

  width: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ff6b08;
  opacity: 0.6;
  color: white;
}

.MainClose:hover {
  opacity: 1;
  color: white;
}

.iconBackClose {
  height: 30px;
  width: 30px;
}

.CastRevContainer {
  padding-top: 20px;
}

.CastRevContainer ul {
  padding: 0;
}

.LinkContainer {
  text-align: start;
  border-bottom: 1px solid #ff6b08;
}

.Link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.Link:hover {
  color: #ff6b08;
}

.ActiveLink {
  composes: Link;
  color: #ff6b08;
}

.Close {
  position: fixed;
  bottom: 10px;
  right: 5%;

  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ff6b08;
  opacity: 0.6;
  color: white;
  z-index: 1;
}

.Close:hover {
  opacity: 1;
  color: white
}

.iconClose {
  height: 30px;
  width: 30px;
}

.DetailsContainer {
  padding-bottom: 60px;
  display: flex;
  border-bottom: 1px solid #ff6b08;
  margin-top: 2px;
}

.DetailsItems {
  margin-left: 30px;
  text-align: start;
}

.Items {
  margin-bottom: 20px;
}

.ButtonItems {
  display: inline-block;
  width: 70px;
}

.ButtonItems:not(:last-child) {
  margin-right: 20px;
}

.button {
  padding: 5px;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  border: none;
  border-radius: 5px;
  opacity: 0.6;
  color: white;
  background-color: #ff6b08;

}

.button:hover {
  opacity: 1;
}

.GenresContainer {
  display: flex;
  padding: 0;
}

.GenresItems:not(:last-child) {
  margin-right: 15px;
}

.Image {
  width: 270px;
  height: 410px;
}

.DefaultImg {
  width: 270px;
  height: 410px;
}
