.reviewContainer {
  margin-top: 60px;
}

.reviewItem {
  padding: 20px;
}

.Author {
  margin-bottom: 20px;
}

.Review:not(:last-child) {
  margin-bottom: 20px;
  text-align: start;
  font-weight: 500;
  color: #2a363b;
  font-size: 16px;
}
