@media screen and (min-width: 280px) and (max-width: 850px) {
  .video {
    max-width: calc(100vw - 58px);
  }
}

@media screen and (min-width: 280px) and (max-width: 540px) {
  .video {
    height: 50vh;
  }
}

@media screen and (min-width: 540px) and (max-width: 768px) {
  .video {
    height: 350px;
  }
}
