/*================ AppBar ================*/

.header {
  height: 182px;
  background-color: black;
}

/*=========================================*/
/*================ AuthNav ================*/

.authNav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: white;
}

.openButton {
  width: 90px;
  height: 30px;

  border: 1px solid #ff6b08;
  color: white;
  background-color: transparent;
}

.openButton:hover {
  -webkit-box-shadow: 0px 0px 6px 3px rgba(231, 116, 25, 0.57);
  -moz-box-shadow: 0px 0px 6px 3px rgba(231, 116, 25, 0.57);
  box-shadow: 0px 0px 6px 3px rgba(231, 116, 25, 0.57);
}

.linkContainer {
  margin-top: 10px;

  padding-right: 30px;
  display: flex;
  flex-direction: column;
}

.authLink {
  margin-left: 5px;
  color: white;
}

.authLink:not(:last-child) {
  margin-bottom: 5px;
}

.authLink:hover {
  color: white;
}

/*=========================================*/
/*============== Navigation ===============*/

.nav {
  padding-top: 90px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
}

.link {
  display: inline-block;
}

.link:not(:last-child) {
  margin-right: 39px;
}

.activeLink {
  border-bottom: 3px solid #ff6b08;
}

.navButton {
  margin: 0;
  padding: 5px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border: 0;
  background: none;
  color: white;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serchLink {
  position: relative;
  z-index: 1;

  width: 300px;
}

.serchLink:active {
  color: transparent;
}

.searchButton {
  padding-bottom: 5px;

  height: 100%;
  width: 100%;

  font-weight: 400;
  text-align: start;
  border: transparent;
  border-bottom: 2px solid white;
  color: #8c8c8c;
  background-color: transparent;
}

.searchButton:hover {
  color: #8c8c8c;
  border-bottom: 2px solid #ff6b08;
}

/*=========================================*/

.homeImg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  height: 460px;
  width: 100%;
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.homeImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url('../../images/mobile/main-header-bg.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/mobile/main-header-bg@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/tablet/main-header-bg.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/tablet/main-header-bg@2x.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/desktop/main-header-bg.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/desktop/main-header-bg@2x.jpg');
  }
}

/*=========================================*/

@media screen and (min-width: 280px) and (max-width: 850px) {
  .nav {
    padding-top: 120px;
  }

  .searchContainer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .searchContainer {
    margin-top: 10px;
  }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .navButton {
    padding: 2px;
  }
}
