.link {
  display: inline-block;
}

.link:not(:last-child) {
  margin-right: 39px;
}

.activeLink {
  border-bottom: 3px solid #ff6b08;
}

.navButton {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
