.header {
  height: 230px;
  background-color: black;
}

.nav {
  padding-top: 90px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 1;
}

.link {
  display: inline-block;
}

.link:not(:last-child) {
  margin-right: 39px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serchLink {
  position: relative;
  z-index: 1;

  padding-bottom: 5px;

  width: 300px;
  border-bottom: 2px solid white;
  color: white;
}

.serchLink:active {
  color: transparent;
}

.activeLink {
  border-bottom: 3px solid #ff6b08;
}

.navButton {
  margin: 0;
  padding: 5px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  border: 0;
  background: none;
  color: white;
}

.homeImg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  height: 460px;
  width: 100%;
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-transition: opacity 1.2s ease-in-out;
  -moz-transition: opacity 1.2s ease-in-out;
  -o-transition: opacity 1.2s ease-in-out;
  transition: opacity 1.2s ease-in-out;
}

.homeImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    url('../../images/mobile/main-header-bg.jpg');
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/mobile/main-header-bg@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/tablet/main-header-bg.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/tablet/main-header-bg@2x.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/desktop/main-header-bg.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .homeImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
      url('../../images/desktop/main-header-bg@2x.jpg');
  }
}

/*===================================================*/

.authNav {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 1;
  color: white;
}
