.form {
  margin-top: 113px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  font-style: normal;
  font-weight: normal;

  font-size: 14px;
  line-height: 16px;
  caret-color: white;
  background: none;

  width: 50%;
  height: 30px;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
}

.input:target,
.input:focus {
  border-bottom: 2px solid #ff6b08;
}

@media screen and (min-width: 768px) {
  .input {
    width: 30%;
  }
}
