.footer {
  padding: 30px 0;
  margin-top: auto;

  text-align: center;
  color: black;
  opacity: 0.7;
  background-color: white;
}

.footerLink {
  margin-left: 5px;
  display: inline-block;
  border-bottom: 2px solid #ff6b08;
  color: black;
}

.footerLink:hover {
  border-bottom: 2px solid white;
  color: #ff6b08;
}
