.moviesContainer {
  padding-top: 108px;
}

.searchContainer {
  padding-top: 60px;
}

.gallery {
  margin: 0 auto;
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.galleryItemIMG {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ff6b08;
}

.galleryItemIMG:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 280px) and (max-width: 1024px) {
  .galleryItemIMG:hover {
    transform: scale(1);
  }
}

.galleryItemImage {
  width: 100%;
  height: 410px;
  object-fit: cover;
}

.defaultImg {
  width: 100%;
  height: 410px;
}

.titleName,
.characterName {
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: left;
  height: 50px;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  color: white;
}

.characterName {
  margin-left: 0;
  padding-left: 10px;
  border: 2px solid #ff6b08;
  background-color: #e0dfd7;
  color: #ff6b08;
}
/*==================================================*/

.cast {
  margin-top: 60px;
}

.bgEmptyIMG {
  width: 900px;
  height: 700px;
  background-color: tomato;
}
