.bodyContainer {
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(100, 43, 10, 0.192),
      rgba(99, 58, 11, 0.267)
    ),
    url(../../images/vlad-oana-bookshelf.jpg);
  background-position: center;
  background-size: calc(100%) auto;
  background-attachment: fixed;
}

.secondBodyContainer {
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(100, 43, 10, 0.192),
      rgba(99, 58, 11, 0.267)
    ),
    url(../../images/cropped-ipwg_header01.jpg);
  background-position: center;
  background-attachment: fixed;
}
